<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.ele.uetool">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity
            android:name="me.ele.uetool.TransparentActivity"
            android:launchMode="singleTask"
            android:theme="@style/uet_Theme.AppCompat.Translucent"/>
    </application>

</manifest>